@media all and (orientation: landscape) {

	body html{
	height:100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display:block;
}

body {
  margin: 0px;
  line-height: 1.8em;
  color: #333;
}

#fondo{
  top: 0;
  background-image:url(../img/fondo.jpg);
  background-position:50% 100%;
  background-repeat:no-repeat;
  display: block;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
}

.texto {
    width: 50%;
    height: auto;
    z-index: 0;
    float: left;
    position: relative !important;
    display: block;
    clear: none;
    left: 35%;
    margin-top: 4%;
}

#saimiriBaila{
		position: absolute;
		width: 20%;
		height: 30%;
		margin: 0;
		top:0px;
		left:0px;
		background-image: url(../img/saimiri_baile.gif);
		background-size: 100%;
		background-repeat: no-repeat;
		opacity:0;
		z-index:0;
	}

	#reset{
		background-color:transparent;
		display: block;
		float: right;
		clear: none;
		width: 10%;
		left: 1%;
		top: 10%;
		position:absolute;
		height: auto;
		cursor: pointer;
		opacity:1;
		z-index:100;
	}

	#cargando {
		position: absolute;
		margin: 24% 42%;
		width: 100%;
		height: 100%;
		background-image: url(../img/load.gif);
		background-repeat: no-repeat;
		background-size: 15%;
		display: block;
		z-index:999;
	}

/* MODIFICADO CONTENT */
#content {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-color:transparent;
}

#content img #textoImg img{
  	display:block;
	float:left;
	clear:none;
	position:absolute;
	height:auto;
}


/* -------NUEVOOO IMAGEN---- */
#textoImg {
  width: 100%;
	height: auto;
	z-index: 0;
	bottom: 0;
	float:left;
	position:relative !important;
	display: block;
	clear: none;
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
  float: left;
}
/*Items Personales Cards*/

#card1{
	width: 37%;
	height: 13%;
	background-image:url(../img/pablito.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	cursor:pointer;
	position: absolute;
	background-position: 50%;
	top: 9%;
	left: 24%;
	}






#targetone{
	width: 7%;
	height: 0;
	background-image:url(../img/pablito_cont.png);
	background-repeat:no-repeat;
	background-size: 100% auto;
	position: absolute;
	left: 43%;
	margin-top: 3%;
	background-position: 50%;
	padding-bottom: 10%;
}

#card2{
	width: 33%;
	height: 13%;
	background-image:url(../img/clavo.png);
	background-size:100% auto;
	background-repeat:no-repeat;
	position: absolute;
	background-position: 50%;
	top: 34%;
	left: 25%;
}

#targettwo{
	width: 6%;
	height: 0;
	position:absolute;
	background-image:url(../img/clavo_cont.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	right: 24%;
	margin-top: 3%;
	background-position: 50%;
	padding-bottom: 10%;
}


#card3{
	width: 57%;
	height: 13%;
	background-image:url(../img/marti.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	cursor:pointer;
	position: absolute;
	background-position: 50%;
	top: 60%;
	left: 11%;
}

#targetthree{
	width: 10%;
	height: 0;
	background-image:url(../img/marti_cont.png);
	background-repeat:no-repeat;
	background-size: 100% auto;
	position: absolute;
	left: 52%;
	margin-top: 27%;
	background-position: 50%;
	padding-bottom: 9%;
}
/*------------------------------*/
#contCards{
width: 20%;
height: 100%;
background-color:transparent;
left: 0;
bottom: 0%;
position: absolute;
background: url(../img/fondofichas2.jpg);background-size: contain;}

#targetone.hovered {
	background-color:rgba(102,102,102,0.8);
	border-radius:13px;
}

#targettwo.hovered {
	background-color:rgba(102,102,102,0.8);
	border-radius:13px;
}

#targetthree.hovered {
	background-color:rgba(102,102,102,0.8);
	border-radius:13px;
}

#resetJuego{
	cursor:pointer;
	position: absolute;
	width: 23%;
	height: 24%;
	margin: 0;
	top: 21%;
	left: -33%;
	background-image: url(../img/rmus1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 1;
	z-index: 100;
}

#resetJuego:hover{
	background-image: url(../img/rmus2.png);
}

}
